#header-container {
    display: flex;
    margin: 20px;
}

#header-container #server-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#header-container #filters {
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#filters .filter-dropdown{
    width: 400px;
    height: 20px;
}