.heading-filter-selector-block{
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 10px;
    background-color: #C7D9D9;
    display: inline-block;
}
.heading-filter-selector-text{
    font-family: Helvetica, Arial, sans-serif;
}
.heading-filter-selector-dropdown{
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.heading-filter-selector-block-wide{
    width: 50%;
}

.heading-filter-selector-block-33{
    width: 25%;
}


.legend-text{
    font-family: Helvetica, Arial, sans-serif;
}

.line-graph-option-button-container{
    margin-top: 10px;
}
.line-graph-option-button{
    display:inline-block;
}

svg.bar-graph {
    background-color: #C7D9D9;
    padding: 10px 5px 150px 40px;
}

svg.line-graph {
    background-color: #C7D9D9;
    padding: 10px 5px 150px 40px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    white-space: pre-wrap;
}